<h1><%= @fighter.name %></h1>

<p>Points de vie: <%= @fighter.life_points %></p>
<p>Force: <%= @fighter.attack_points %></p>
<p>Dextérité: <%= @fighter.dexterity %></p>

<%= link_to 'Retour aux combattants', fighters_path %>
