<h1>Les Combats Passés</h1>

<table>
  <tr>
    <th>Gagnant</th>
    <th>Perdant</th>
    <th>Résumé</th>
  </tr>
  <% @fights.each do |fight| %>
    <tr>
      <td>
        <%= fight.winner.name %><br>
        <%= image_tag "#{fight.winner.avatar}.jpg" %>
      </td>
      <td>
        <%= fight.loser.name %><br>
        <%= image_tag "#{fight.loser.avatar}.jpg" %>
      </td>
      <td><% fight.summary_ex.each do |s| %>
          <%= s %><br>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
