<!DOCTYPE html>
<html>
  <head>
    <title>L'Arène</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <p>
      <%= link_to 'Créer un combattant', new_fighter_path %>

      <%= link_to 'Voir les combattants', fighters_path %>

      <%= link_to 'Commencer un combat', select_fight_path %>

      <%= link_to 'Voir les combats passés', fights_path %>
    </p>
  </body>
</html>
